<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<P style="color:red">MY DAILY MEAL PLAN INFO</P>-->
<!--<table>-->
<!--    <tr style="color:red">-->
<!--        <th>Meal Plan Name</th>-->
<!--        <th>Per Day Calorie</th>-->
<!--        <th>Plan Start Date</th>-->
<!--        <th>Plan End Date</th>-->
<!--    </tr>-->
<!--            {% for item in data %}-->
<!--    <tr style="color:green">-->
<!--        <td>{{item.mealPlanName}}</td>-->
<!--        <td>{{item.perDayCalories}}</td>-->
<!--        <td>{{item.startDate}}</td>-->
<!--        <td>{{item.endDate}}</td>-->
<!--    </tr>-->
<!--        {% endfor %}-->


<!--</table>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>

      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>My Daily Meal Calorie Intake Tracker</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Dashboard</a></li>

      </ul><br>
    </div>
    <br>

    <div class="col-sm-9">
        <form method="post" action="{% url 'loadcalorie' %}">
          {% csrf_token %}
      <div class="well">
        <h4>start Date</h4>
          <input type="date" name="startdate" placeholder="start date">
      <h4>End Date</h4>
      <input type="date" placeholder="end date" name="enddate">
          <input type="submit" value="submit">
        <input style="float:right; top:12;" type="text" value={{user}} readonly name="user">
      </div>
        </form>
      </div>

    </div>
</div>

</body>
</html>
